body{
background:linear-gradient(135deg,#ffd6ec,#ffe9f5);
font-family:Segoe UI;
}

.header-pink{
background:linear-gradient(90deg,#ff69b4,#ff4fa3);
}

.btn-pink{
background:#ff69b4;
color:white;
font-weight:bold;
}

.btn-pink:hover{
background:#ff4fa3;
color:white;
}

.card{
border-radius:15px;
}

.box-data{
background:#fff0f7;
padding:10px;
border-radius:10px;
font-weight:500;
}

.hasil{
font-size:18px;
font-weight:bold;
color:#ff4fa3;
}