body{
background:linear-gradient(135deg,#ffd6ec,#ffe9f5);
font-family:Segoe UI;
}

.header-pink{
background:linear-gradient(90deg,#ff69b4,#ff4fa3);
}

.btn-pink{
background:#ff69b4;
color:white;
font-weight:bold;
}

.btn-pink:hover{
background:#ff4fa3;
color:white;
}

.table-pink{
background:#ffe6f2;
}

.card{
border-radius:15px;
}

.log-item{
background:#fff0f7;
padding:8px;
margin-top:6px;
border-radius:8px;
font-size:14px;
}

.progress{
height:20px;
}

.progress-bar{
transition:width 0.4s;
}